{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/icappad/css/style.css')}}'>
{% endblock %}

{% form_theme form _self %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock collection_widget %}

{% block section_content %}

    {% if app.session.flashbag.has('error') %}
        <div class="alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash-notice">
                    <p>{% autoescape false %}{{ flashMessage }}{% endautoescape %}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div>
        <h3>Pad</h3><br/>
        <form
            class="form-horizontal"
            action="{{ path('icap_pad_create', {'aggregateId': _resource.getId()})}}"
            method="post" {{ form_enctype(form) }}
            id="pad-form"
        >
            {{ form_widget(form) }}
            <div class="form-actions panel-footer">
                <button type="submit" class="btn btn-primary">Ok</button>
                <a href="{{ path('icap_pads_list', {'aggregateId': _resource.getId()}) }}">
                    <button  type="button" class="btn btn-default">Cancel</button>
                </a>
            </div>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/icappad/js/form_collection.js') }}"></script>
{% endblock %}